body {
    margin: 0;
    background-image: url(imagenes/fondo.jpg);
    
}

.cabecera {
    display: inline-flex;
    float: right;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.divv {
        background-image: linear-gradient(to right, white, rgb(27, 87, 165));
        border: 2px solid black;        
       }
.divv:focus {
    width: 200px;
    height: 32px;
    font-size: 18px;
}
.headerr {
    background-image: linear-gradient(to bottom, white, blue);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    border: 2px solid black; 
    align-items: center;   
    } 
.barra {
    background-image: linear-gradient(to bottom, white, brown);
    display: inline-block;
    border: 3px solid black;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}
.barra:hover {
    color: black;
    width: 200px;
    height: 32px;
    font-size: 18px;
    border: 1px solid black;

}
.calendario {
    padding: 10px 10px;
    position: relative;
    top: -30px;
}
.techo {
    display: flex; 
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    }
.orden {
    font-size: 30px;
    margin: 10px;
    padding: 20px;
    }
.precios {
    background-image: linear-gradient(beige, brown);
    background-color: brown;
    color: black;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    }
.tituloprecio {
        background-image: linear-gradient(to right, beige, rgb(156, 125, 68) , black);
        border: 2px solid black;
        background-color: burlywood;
    }
.imagen {        
        border: 12px black;		
        border-radius: 40px;		
        background-color: brown;		
        color: white;		
        border-style: dashed; 
    }
.imagen:focus {
    width: 200px;
    height: 32px;
    font-size: 18px;
    border: 1px solid black;
}
.descripcion {
        text-align: center;
        font-size: 15px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: 3px solid black;
        background-color: brown;
        color: white;
    }
.titulo {
        display: flex;
        text-align: center;
        border: 2px solid black;
        background-color: brown;
        color: white;
        background-image: linear-gradient(brown,rgb(255, 238, 0));
        }	
.footer {
        background-image: linear-gradient(to top, black, grey, white);
        background-color: black;
        border: 2px solid black;
        color: white;
        text-align: center;
        margin-bottom: 0px;              
    }     
nav {
    margin-top:  10px;
}
.formulario {
    background-image: radial-gradient(black, grey, white);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid black;
    background-color: beige;
    height: max-content;
    width: 100px;
    height: 16px;
    font-size: 12px;
    transition: all 2s;    
}
.formulario:hover {
        width: 200px;
        height: 32px;
        font-size: 18px;
        border: 1px solid black;
    }
.volver {
    text-align: left;   
}
.locales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: brown;
    color: white;
    margin: 10px;
    padding: 20px;
    border: 4px solid black;
    border-style:ridge; 
}
.titulofotos {
    text-align: center;
    border: 2px solid black;
    background-color: beige;
    color: black;
    margin: 10px;
    padding: 20px;
}

.bodymobile {
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
    background-image: url(imagenes/fondo.jpg);    
}
































/*
.cuerpo{ 
    background-color: darkgoldenrod;
    margin: auto;
    padding: 20px;

}
   
.navegacion {
    display: inline-block;
    background-color: beige;  
    padding: 10px 30px;
    text-decoration: none;
    

}
.formulario {
display: flexbox;
    
}
.titulo {
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
border: 4px solid black;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.bodycontacto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: wheat;
    width: auto;
    height: auto;
    margin: auto;
}
.imagencontacto {
    border: 6px solid black;
    border-radius: 5px;
}
.footer {    
     padding-top: 5px;
        margin-top:auto;
        border-width: 3px;
        }
.head {
background-color: black;
text-align: center;
margin: auto;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
width: auto;
height: auto;
color: white;
}
.videooo {
border: 10px solid black;
position: absolute;
top: 405px ;
left: 500px;
}
/*